<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors>
            <remove statusCode="500" subStatusCode="-1" />
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/404-LiveWebScoreboard.html" responseMode="ExecuteURL" />
            <error statusCode="500" prefixLanguageFilePath="" path="/500-100-LiveWebScoreboard.html" responseMode="ExecuteURL" />
        </httpErrors>
        <staticContent>
            <remove fileExtension=".application" />
            <mimeMap fileExtension=".application" mimeType="application/x-ms-application" />
            <mimeMap fileExtension=".sdf" mimeType="application/x-msdownload" />
            <mimeMap fileExtension=".php" mimeType="text/html" />
        </staticContent>
    </system.webServer>
</configuration>
