<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WaterskiScoringSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WaterskiScoringSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>

    </configSections>
    <connectionStrings>
        <add name="WaterskiScoringSystem.Properties.Settings.waterskiConnectionString"
            connectionString="Data Source=|DataDirectory|\waterski.sdf;Password=waterski;Persist Security Info=True"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="WaterskiScoringSystem.Properties.Settings.waterskiConnectionLocalString"
            connectionString="Data Source=|DataDirectory|\waterski.sdf;Password=waterski;Persist Security Info=True"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="WaterskiScoringSystem.Properties.Settings.waterskiConnectionString1"
            connectionString="Data Source=C:\apps\WaterskiScoring\Data\WaterskiDev.sdf;Password=waterski;Persist Security Info=True"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
    <system.data>
      <DbProviderFactories>
        <remove invariant="System.Data.SqlServerCe.3.5"></remove>
        <add name="Microsoft SQL Server Compact Data Provider" invariant="System.Data.SqlServerCe.3.5" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=3.5.1.50, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
      </DbProviderFactories>
    </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SqlServerCe" PublicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="3.5.1.0-3.5.1.50" newVersion="3.5.1.50"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
    <userSettings>
        <WaterskiScoringSystem.Properties.Settings>
            <setting name="MemberList_Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MemberList_Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TourList_Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TourList_Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TourList_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MemberList_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Mdi_Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Mdi_Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Mdi_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="AppSanctionNum" serializeAs="String">
                <value />
            </setting>
            <setting name="ExportDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="ImportMatch_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="NopsCalcForm_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="NopsMaint_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="NopsMaint_Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NopsMaint_Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ListMaint_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ListMaint_Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ListMaint_Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SkierRanking_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="SkierRanking_Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SkierRanking_Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TourRegList_Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TourRegList_Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TourRegList_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Mdi_Title" serializeAs="String">
                <value />
            </setting>
            <setting name="RunningOrder_Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RunningOrder_Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RunningOrder_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="SlalomEntry_Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SlalomEntry_Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SlalomEntry_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="TrickEntry_Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TrickEntry_Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TrickEntry_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="JumpEntry_Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="JumpEntry_Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="JumpEntry_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="SlalomScoreSummary_Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SlalomScoreSummary_Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SlalomScoreSummary_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="JumpCalc_Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="JumpCalc_Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="JumpCalc_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="TrickCalc_Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TrickCalc_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="TrickCalc_Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TrickScoreSummary_Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TrickScoreSummary_Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="JumpScoreSummary_Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="JumpScoreSummary_Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="JumpScoreSummary_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="OfficialWorkRecord_Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OfficialWorkRecord_Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OfficialWorkRecord_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="OfficialWorkRecord_Sort" serializeAs="String">
                <value />
            </setting>
            <setting name="OfficialWorkReport_Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OfficialWorkReport_Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OfficialWorkReport_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="OfficialWorkReport_Sort" serializeAs="String">
                <value />
            </setting>
            <setting name="AppVersion" serializeAs="String">
                <value>3.0.0.12</value>
            </setting>
            <setting name="MasterSummary_Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MasterSummary_Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MasterSummary_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="AppRegistryName" serializeAs="String">
                <value />
            </setting>
            <setting name="AppConnectName" serializeAs="String">
                <value>waterskiConnectionLocalString</value>
            </setting>
            <setting name="TrickList_Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TrickList_Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TrickList_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="TrickList_Sort" serializeAs="String">
                <value />
            </setting>
            <setting name="JumpMeterSetup_Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="JumpMeterSetup_Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="JumpMeterSetup_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ChiefJudgeReport_Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ChiefJudgeReport_Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ChiefJudgeReport_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="TourChiefOfficial_Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TourChiefOfficial_Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TourChiefOfficial_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="TourEventTech_Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TourEventTech_Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TourEventTech_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="TourRuleExcept_Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TourRuleExcept_Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TourRuleExcept_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="BoatUse_Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BoatUse_Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BoatUse_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="BoatUseReport_Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BoatUseReport_Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BoatUseReport_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="SafetyCheckList_Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SafetyCheckList_Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SafetyCheckList_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="SlalomTeamSummary_Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SlalomTeamSummary_Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SlalomTeamSummary_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="JumpTeamSummary_Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="JumpTeamSummary_Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="JumpTeamSummary_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="TrickTeamSummary_Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TrickTeamSummary_Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TrickTeamSummary_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="OverallTeamSummary_Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OverallTeamSummary_Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OverallTeamSummary_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="TeamSummary_Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TeamSummary_Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TeamSummary_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="waterskiConnectionStringApp" serializeAs="String">
                <value>Data Source=|DataDirectory|\waterski.sdf;Password=waterski;Persist Security Info=True</value>
            </setting>
            <setting name="MasterSummaryOverallUS_Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MasterSummaryOverallUS_Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MasterSummaryOverallUS_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="OfficialWorkAsgmt_Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OfficialWorkAsgmt_Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OfficialWorkAsgmt_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="OfficialWorkAsgmt_Sort" serializeAs="String">
                <value />
            </setting>
            <setting name="MasterSummaryV2_Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MasterSummaryV2_Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MasterSummaryV2_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="EditMember_Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EditMember_Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EditMember_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="RerideReason_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="EditRegMember_Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EditRegMember_Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EditRegMember_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="SkierDoneReason_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="TeamSetup_Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TeamSetup_Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TeamSetup_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="SlalomOptup_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="DivOrder_Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DivOrder_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="DivOrder_Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SlalomScorebook_Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SlalomScorebook_Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SlalomScorebook_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="TrickScorebook_Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TrickScorebook_Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TrickScorebook_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="JumpScorebook_Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="JumpScorebook_Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="JumpScorebook_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="JumpScorebookDataType" serializeAs="String">
                <value />
            </setting>
            <setting name="JumpScorebookPointsMethod" serializeAs="String">
                <value />
            </setting>
            <setting name="JumpScorebookPlcmtOrg" serializeAs="String">
                <value />
            </setting>
            <setting name="EventRunStats_Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EventRunStats_Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EventRunStats_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="RunningOrderRound_Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RunningOrderRound_Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RunningOrderRound_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="RunOrderElimPlcmtMethod" serializeAs="String">
                <value>score</value>
            </setting>
            <setting name="RunOrderElimPointsMethod" serializeAs="String">
                <value>nops</value>
            </setting>
            <setting name="RunOrderElimPlcmtOrg" serializeAs="String">
                <value>div</value>
            </setting>
            <setting name="RunOrderElim_Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RunOrderElim_Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RunOrderElim_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="RunOrderCopy_Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RunOrderCopy_Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RunOrderCopy_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="RunOrderElimNumSkiers" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TourRegList_Sort" serializeAs="String">
                <value />
            </setting>
            <setting name="OverallSummaryAwardsNum" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="TourReportProps_Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TourReportProps_Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TourReportProps_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="TrickScoreSummary_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="EditMemberOfficialRatings_Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EditMemberOfficialRatings_Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EditMemberOfficialRatings_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="DataAccessTraceActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LoadVideosFile_Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LoadVideosFile_Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LoadVideosFile_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </WaterskiScoringSystem.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <WaterskiScoringSystem.Properties.Settings>
            <setting name="AppTitle" serializeAs="String">
                <value>WSTIMS For Windows</value>
            </setting>
            <setting name="AppExeName" serializeAs="String">
                <value>WaterskiScoringSystem.exe</value>
            </setting>
            <setting name="BuildVersion" serializeAs="String">
                <value>3.0.0.12 8/25/2016</value>
            </setting>
        </WaterskiScoringSystem.Properties.Settings>
    </applicationSettings>
    <startup><supportedRuntime version="v2.0.50727"/></startup>
</configuration>
