Body {
	background-color:#FFFFFF;
	color:#000000;
	Font-Family:Arial,Helvetica,sans-serif;
	FONT-SIZE:1.0em;
	Font-Style:normal;
	Font-Weight:normal;
}

#ShowScoresBody {
	background-color:#cccccc;
	background-image:url('Images/unofficial.jpg');
	border: 2px red inset;
}

#IndexContainer {
	background-image:url('Images/AdamsPondFarm.jpg');
	background-repeat:no-repeat;
	background-position:center; 
	Width: 800px;
	Height: 520px;
	border: 4px Silver inset;
	padding-left: 5px;
	padding-right: 5px;
	margin-left: auto;
	margin-right: auto;
	Text-Align:Center; 
}

#IndexContainer A:link {
	text-decoration: none; 
	color: White;
	FONT-SIZE:1.25em;
	Font-Style:normal;
	Font-Weight:bold;
}

#IndexContainer A:visited {
	text-decoration: none; 
	color: White;
	FONT-SIZE:1.25em;
	Font-Style:normal;
	Font-Weight:bold;
}
#IndexContainer A:active {
	text-decoration: none; 
	color: White;
	FONT-SIZE:1.25em;
	Font-Style:normal;
	Font-Weight:bold;
}
#IndexContainer A:hover {
	text-decoration: none; 
	color: DarkBlue; 
	Background: White;
}
#IndexContainer .ReportTitle {
	Width: 100%;
	color: White;
	Text-Align:Center; 
	margin-left: auto; 
	margin-right: auto; 
	padding-bottom: 10px;
	FONT-SIZE:1.5em; 
	FONT-WEIGHT:bold;
}

A:link {
	text-decoration: none; 
	color: DarkBlue;
}
A:visited {
	text-decoration: none; 
	color: DarkBlue;
}
A:active {
	text-decoration: none; 
	color: DarkBlue;
}
A:hover {
	text-decoration: none; 
	color: Yellow; 
	Background: Maroon;
}

.ReportTitle {
	Width: 100%; 
	Text-Align:Center; 
	margin-left: auto; 
	margin-right: auto; 
	padding-bottom: 10px;
	FONT-SIZE:1.5em; 
	FONT-WEIGHT:bold;
}
.SectionTitle {
	Width: 100%; 
	Text-Align:Center; 
	margin-left: auto; 
	margin-right: auto; 
	FONT-SIZE:1.15em; 
	FONT-WEIGHT:bold;
}
.SectionTitleLeft {
	Width: 100%; 
	Text-Align:Left; 
	margin-left: 0; 
	margin-right: auto; 
	margin-top: 10px;
	FONT-SIZE:1.15em; 
	FONT-WEIGHT:bold;
}
.SubTitle {
	Width: 100%; 
	Text-Align:Center; 
	margin-left: auto; 
	margin-right: auto; 
	FONT-SIZE:1.0em; 
	FONT-WEIGHT:bold;
}
.SubTitleLeft {
	Width: 100%; 
	Text-Align:Left; 
	margin-left: 0; 
	margin-right: auto; 
	FONT-SIZE:1.0em; 
	FONT-WEIGHT:bold;
}
.SubTitleNote {
	Width: 100%; 
	Text-Align:Center; 
	FONT-SIZE: 1.0em; 
	FONT-WEIGHT:bold;
	color: red;
}
.TourScoresContainer {
	padding: 5px;
}
.SlalomScoreTable {
	background-image:url('Images/unofficial_slalom.jpg');
	margin: 5px auto 5px auto;
	border: 5px gold inset;
}
.TrickScoreTable {
	background-image:url('Images/unofficial_trick.jpg');
	margin: 5px auto 5px auto;
	border: 5px gold inset;
}
.JumpScoreTable {
	background-image:url('Images/unofficial_jump.jpg');
	margin: 5px auto 5px auto;
	border: 5px gold inset;
}
#footer {
	padding-top: 24px;
}
#MainContainer {
	Text-Align:Center; 
	margin-left: auto; 
	margin-right: auto; 
	border: 2px silver solid;
}
.MainContent {
	Text-Align:Center; 
	margin-left: auto; 
	margin-right: auto; 
	border: 2px silver solid;
}
.DataGridView {
	Text-Align:Center; 
	Border: #AAAAAA 1px solid; 
	margin-left: auto; 
	margin-right: auto; 
}
tr {
	vertical-align: top;
}
th {
	Text-Align:Center; 
	Border:#DDDDDD 1px solid; 
	Margin:0pt; 
	Padding:2px 2px 2px 2px; 
	Font-Size:.8em; 
	Font-Weight:Bold;
}
td {
	Text-Align:Center; 
	Border:#DDDDDD 1px solid; 
	Margin:0pt; 
	Padding:2px 2px 2px 2px; 
	Font-Family:Verdana,Helvetica,sans-serif; 
	Font-Size:.8em; 
	Font-Weight:normal;
}
.DataLeft {
	Text-Align:Left; 
}
.DataRight {
	Text-Align:Right; 
}
.DataCenter {
	Text-Align:Center; 
}
.Button {
	background-color:#F0F0F0;
	border: 2px silver outset;
	Padding:2px 2px 2px 2px;
}
.DebugRef {
	background-color:#FFFFFF;
	color: #FFFFFF;
}

#lightBox {
	display: block;
	position: absolute;
	padding: 16px;
	border: 8px gold outset;
	background-color: Ivory;
	z-index:1002;
	overflow: auto;
}
.lightBoxFade {
	display: block;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: Silver;
	z-index:1001;
	-moz-opacity: 0.5;
	opacity:.50;
	filter: alpha(opacity=50);
}
