/* CSS Document */

#homepage, #content, #eventSchedule, #practiceSchedule, #tourneyList  {
	background:none;
}

#homepage .ui-header .ui-title {
  overflow: visible !important;
  white-space: normal !important;
  margin:.5em 1.4em;
  color:white;
  text-overflow:none;
}

#homepage #homepageHeader h1 {
	color:#fff;
	opacity:1;
}

#homepage #introBox {
	text-align:center;
	width:94%;
	margin:.2em auto 1em auto;
	border: 5px solid rgba(255, 255, 255, 0.5);
	border-radius:12px;
	background:rgba(255, 255, 255, 0.4);
	padding:.6em .4em .2em .4em;
}

#homepage .titleCopy {
	text-align:center;
	color:#000;
	font-family:Georgia, 'Times New Roman', Times, serif;
	font-size:1.05em;
	font-style:italic;
	font-weight:bold;
}

#homepage .introCopy {
	font-size:.9em;
	font-family:Arial, Helvetica, sans-serif;
}

#eventSchedule .ui-content, #practiceSchedule .ui-content, #recentPasses .ui-content {
	padding-top:0;
}

#eventSchedule .ui-collapsible-set, #practiceSchedule .ui-collapsible-set, #recentPasses .ui-collapsible-set {
	margin:0;
}

#tourneyList .ui-content {
	padding-top:0px;
	padding-bottom:0px;		
}

.startTime {
	font-size:.85em;
	font-style:italic;
	font-variant:small-caps;
	font-weight:lighter;
	color:#06C;
	float:right;
	display:inline-block;	
}
.lastUpdateTime {
	font-size:.75em;
	font-weight:lighter;
	color:#222;
	display:inline;	
}

.ui-li-count {
	font-size:.85em;
	font-style:italic;
	font-variant:small-caps;
	font-weight:lighter;
	color:#06C;
	float:right;
	display:inline-block;	
}

.videoNote {
	font-weight:bold;
	color: red;
}

.eventDivisions {
	list-style:none;
	padding-top:-10px;
	margin: auto auto auto auto;
	border:0px;
}
.ui-li .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li {
	/*padding-bottom:0;
	padding-top:.35em;*/
}

.ui-btn-up-d {
	border:0px;
}

.time, {
	font-size:.8em;
	font-style:italic;
	font-variant:small-caps;
	font-weight:lighter;
	color:#06C;
	float:right;
	display:inline-block;	
}
.score {
	font-size:.9em;
	font-style:italic;
	font-variant:small-caps;
	font-weight:normal;
	color:#396B9E;
	float:right;
	display:inline-block;	
}

.scoreLine {
	font-size:.8em;
	font-style:italic;
	font-variant:small-caps;
	font-weight:lighter;
	color:#06C;
	display:inline-block;	
}

.eventDate {
	font-size:.8em;
	font-style:italic;
	font-variant:small-caps;
	font-weight:lighter;
	color:#fff;
	float:right;
	display:inline-block;	
}

.noScores {
	font-size:1.2em;
	font-style:italic;
	font-variant:small-caps;
	font-weight:bold;
	color:#36C;
	text-align:center;
	margin:1.2em auto;
	padding:1.0em auto;
	display:block;
}
.RecapMessage {
	Width: 100%;
	Text-Align:Center; 
	margin-left: auto; 
	margin-right: auto; 
	FONT-SIZE:.8em; 
	FONT-WEIGHT:bold;
	color: Red;
}

#sponsorList .ui-li-desc {
	overflow:visible;
	white-space:normal;
}

#sponsorList .ui-li-aside {
	/* over ride jquery */	
}

#sponsorList .ui-li-heading {
	overflow:visible;
	white-space:normal;
}
	
#sponsorList h3 a img {
	width:24px;
	height:24px;
}

#sponsorList .ui-li-aside img {
	width:23%;
	height:23%;
	max-width:33%;
	max-height:33%;
}

.centeredItalic {
	text-align:center;
	font-style:italic;
	font-size:1em; 
	margin-bottom:1em;
}

#recentPasses .ui-btn-inline {
	margin:0px;	
}

.alertNotice {
	Width: 100%; 
	Text-Align:Center; 
	FONT-SIZE: 1.5em; 
	FONT-WEIGHT:bold;
	color: red;
}

.PageSubTitle {
	Text-Align:Center; 
	margin-left: auto; 
	margin-right: auto; 
	FONT-SIZE:1.15em; 
	FONT-WEIGHT:bold;
	color: DarkBlue;
}


@media screen and (max-height: 350px) {
    #patronize {
    	display:none;	
	}

.SubTitle {
	Text-Align:Center; 
	margin-left: auto; 
	margin-right: auto; 
	FONT-SIZE:1.15em; 
	FONT-WEIGHT:bold;
	color: DarkBlue;
}

.RunOrderTable {
	Border: 1px Red solid;
}

RunOrderTable tr {
	vertical-align: top;
}
RunOrderTable th {
	Text-Align:Center; 
	Border:#DDDDDD 1px solid; 
	Margin:0pt; 
	Padding:2px 2px 2px 2px; 
	Font-Size:.8em; 
	Font-Weight:Bold;
}
RunOrderTable td {
	Text-Align:Center; 
	Border:#DDDDDD 1px solid; 
	Margin:0pt; 
	Padding:2px 2px 2px 2px; 
	Font-Family:Verdana,Helvetica,sans-serif; 
	Font-Size:.8em; 
	Font-Weight:normal;
}

tr {
	vertical-align: top;
}
th {
	Text-Align:Center; 
	Border:#DDDDDD 1px solid; 
	Margin:0pt; 
	Padding:2px 2px 2px 2px; 
	Font-Size:.8em; 
	Font-Weight:Bold;
}
td {
	Text-Align:Center; 
	Border:#DDDDDD 1px solid; 
	Margin:0pt; 
	Padding:2px 2px 2px 2px; 
	Font-Family:Verdana,Helvetica,sans-serif; 
	Font-Size:.8em; 
	Font-Weight:normal;
}

.DataLeft {
	Text-Align:Left; 
}
.DataRight {
	Text-Align:Right; 
}
.DataCenter {
	Text-Align:Center; 
}

/* CSS Document */
/*.ui-content .ui-listview, .ui-panel-inner>.ui-listview
*/

body {

}

#homepage, #content, #eventSchedule, #practiceSchedule, #tourneyList  {
	background:none;
}

#homepage .ui-header .ui-title {
  overflow: visible !important;
  white-space: normal !important;
  margin:.5em 1.4em;
  color:white;
  text-overflow:none;
}

#homepage #homepageHeader h1 {
	color:#fff;
	opacity:1;
}

#navContainer {
	z-index:1000;
	width:95%;
	text-align:center;
	margin-top:-1em;
	margin-top:1em;
}

.dropNav {
	z-index:1010;
	height:2.9em;
	margin-bottom:1em;
	padding:0 1.6em .2em 1.6em;
	border-bottom-right-radius:1em;
	border-bottom-left-radius:1em;
	border:1px solid #000;
	overflow-y:visible;
	display:inline-block;
	box-shadow: 4px 4px 5px #888888;
	background-image: linear-gradient(bottom, rgb(71,71,71) 0%, rgb(148,148,148) 100%);
	background-image: -o-linear-gradient(bottom, rgb(71,71,71) 0%, rgb(148,148,148) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(71,71,71) 0%, rgb(148,148,148) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(71,71,71) 0%, rgb(148,148,148) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(71,71,71) 0%, rgb(148,148,148) 100%);

	background-image: -webkit-gradient(
	  linear,
	  left bottom,
	  left top,
	  color-stop(0, rgb(71,71,71)),
	  color-stop(1, rgb(148,148,148))
  );

}

.dropNav #toggle {
	color: #fff;
	text-decoration: none;
	font-size:1em;
	font-style: normal;
	position: relative;
	top: 1em;
	cursor:pointer;
}

h1 .dropNav a.ui-link, h1 .dropNav a.ui-link:hover {
	color:#fff;	
}


.ui-header {
	/*max-height: 5em; */
	z-index:900;
}

.ui-header .ui-title {
	/*margin-top:-.1em;*/
	margin-left:8%;
	margin-right:8%;
	max-height: 2em;
	overflow: visible;
}

#panel {
	margin-right:.7em;
	margin-left:.7em;
	background-color:rgb(148,148,148);
	border-bottom-right-radius:1em;
	border-bottom-left-radius:1em;
	padding: .75em 1.25em;
	border:1px solid #000;
	box-shadow: 4px 4px 5px #888888;
	
	background-image: linear-gradient(bottom, rgb(71,71,71) 0%, rgb(148,148,148) 100%);
	background-image: -o-linear-gradient(bottom, rgb(71,71,71) 0%, rgb(148,148,148) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(71,71,71) 0%, rgb(148,148,148) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(71,71,71) 0%, rgb(148,148,148) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(71,71,71) 0%, rgb(148,148,148) 100%);

	background-image: -webkit-gradient(
	  linear,
	  left bottom,
	  left top,
	  color-stop(0, rgb(71,71,71)),
	  color-stop(1, rgb(148,148,148))
  );
  
}

#homepage #introBox {
	text-align:center;
	width:94%;
	margin:.2em auto 1em auto;
	border: 5px solid rgba(255, 255, 255, 0.5);
	border-radius:12px;
	background:rgba(255, 255, 255, 0.4);
	padding:.6em .4em .2em .4em;
}

#homepage .titleCopy {
	text-align:center;
	color:#000;
	font-family:Georgia, 'Times New Roman', Times, serif;
	font-size:1.05em;
	font-style:italic;
	font-weight:bold;
}

#homepage .introCopy {
	font-size:.9em;
	font-family:Arial, Helvetica, sans-serif;
}

#eventSchedule .ui-content, #practiceSchedule .ui-content, #recentPasses .ui-content {
	padding-top:0;
}

#eventSchedule .ui-collapsible-set, #practiceSchedule .ui-collapsible-set, #recentPasses .ui-collapsible-set {
	margin:0;
}

#tourneyList .ui-content {
	padding-top:0px;
	padding-bottom:0px;		
}

.startTime {
	font-size:.85em;
	font-style:italic;
	font-variant:small-caps;
	font-weight:lighter;
	color:#06C;
	float:right;
	display:inline-block;	
}

.ui-li-count {
	font-size:.85em;
	font-style:italic;
	font-variant:small-caps;
	font-weight:lighter;
	color:#06C;
	float:right;
	display:inline-block;	
}

.eventDivisions {
	list-style:none;
	padding-top:-10px;
	margin: auto auto auto auto;
	border:0px;
}
.ui-li .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li {
	/*padding-bottom:0;
	padding-top:.35em;*/
}

.ui-btn-up-d {
	border:0px;
}

.ui-content .ui-listview, .ui-panel-inner>.ui-listview {
	margin: 0px -15px;
}

#scoresID.ui-content, #scoresID.ui-body-c, #recentPassesID .ui-collapsible-content { /* Specific fix for .ui-content selector change that impacted recent passes page */
	padding: 0px 15px;
}

#sponsorList .ui-li-desc {
	overflow:visible;
	white-space:normal;
}

#sponsorList .ui-li-aside {
	/* over ride jquery */	
}

#sponsorList .ui-li-heading {
	overflow:visible;
	white-space:normal;
}
	
#sponsorList h3 a img {
	width:24px;
	height:24px;
}

#sponsorList .ui-li-aside img {
	width:23%;
	height:23%;
	max-width:33%;
	max-height:33%;
}

#okeeWeather {
	position:relative;
	font-variant:small-caps;
	font-size:.9em;
	font-weight:600;
	padding-top:.2em;
	margin-bottom:-.4em;
	color: #000;
  	opacity: 1;
  	filter:alpha (opactiy=100);
}

.centeredItalic {
	text-align:center;
	font-style:italic;
	font-size:1em; 
	margin-bottom:.4em;
}

#recentPasses .ui-btn-inline {
	margin:0px;	
}

.timeAgo {
	float:left;
	margin-top:-.3em;
	margin-bottom:-3em;
	clear:right;
	font-size:.5em;
	font-style:italic;
	color:#06C;
	font-weight:lighter;
}

#slalomRoundDiv, #trickRoundDiv, #jumpRoundDiv, #overallRoundDiv, #sDivisions, #tDivisions, #jDivisions, #oDivisions {
	display:none;
}
.ContainerHide {
	display:none;
}

/* TEST FOR CUSTOM STYLE OF BUTTONS BELOW*/
.ui-controlgroup-horizontal .ui-btn {
	border-radius: inherit;
	display:inline-block;
	text-align:center;
	white-space:normal;	
}

.ui-controlgroup-horizontal .ui-radio {
	float:none;
	display:inline-block;
	white-space:normal;	
}

.ui-controlgroup-horizontal {
	text-align:center;
	white-space:normal;	
}

.ui-controlgroup .ui-checkbox .ui-btn, .ui-controlgroup .ui-radio .ui-btn {
	margin: 1px;
	display:inline-block;
	text-align:center;
	white-space:normal;	
}
