#IndexContainer {
	background-image:url('../images/MilkWeedInStillwagonBank.jpg');
	background-repeat:no-repeat;
	background-position:center; 
	Width: 575px;
	Height: 425px;
	border: 4px Silver inset;
	padding-left: 5px;
	padding-right: 5px;
	margin-left: auto;
	margin-right: auto;
	Text-Align:Center; 
}

#IndexContainer .ui-link {
	color: Black;
	Font-Size:1.25em;
	Font-Style:normal;
	Font-Weight:bold;
	text-decoration: none; 
	text-shadow:none;
    font-weight: 700;
}
#IndexContainer .ui-link:hover {
	color: White;
	Background: Darkblue;
	text-decoration: none; 
	text-shadow:none;
}

.ui-page-theme-a .ui-bar-inherit {
    background: linear-gradient(#3c3c3c, #00ffff) repeat scroll 0 0 #00ffff;
    border-color: #ddd;
    border: 4px green outset;
    color: #333;
    font-weight: 700;
    text-shadow: 0 1px 0 #eee;
}

.ui-footer .ui-title .ui-page-theme-a .ui-btn
, .ui-footer .ui-title .ui-page-theme-a .ui-btn:visited {
	background: Green;
    border-color: #ddd;
    border: 4px yellow outset;
    color: #333;
    text-shadow: 0 1px 0 #f3f3f3;
    text-shadow: 0 1px 0 orange;
}